.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:disabled {
  background-color: #808080;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: default;
}
/* 
.submit {
  z-index: 10;
  position: absolute;
  left: 75%;
  top: 90%;
} */

.next {
  z-index: 10;
  position: absolute;
  left: 65%;
  top: 80%;
}

.left {
  position: fixed;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  align-items: center;
}

.right {
  position: fixed;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  align-items: center;
}

.image {
  position: fixed;
  top: 30%;
  left: 20%;
  right: 50%;
  bottom: 0;
}

.annotation {
  position: fixed;
  top: 60%;
  left: 55%;
  bottom: 0;
}

.textbox {
  height: 5vh;
  width: 30vh;
}

.output {
  position: fixed;
  top: 20%;
  left: 60%;
  bottom: 50%;
  font-size: 20px;
}
