.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:disabled {
  background-color: #808080;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: default;
}

.next-area {
  position: fixed;
  left: 80%;
  bottom: 10%;
  right: 0;
  display: none;
}

.next {
  background-color: #4caf50;
  z-index: 10;
  left: 0;
  bottom: 10%;
}

.next-suggestion {
  font-size: 15px;
  display: inline;
}

.left {
  position: absolute;
  top: 5%;
  left: 40%;
  left: 0;
  right: 0;
  bottom: 50%;
  align-items: center;
  z-index: 13;
}

.whole-layout {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  display: none;
}

.piece-layout {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  display: none;
}

.instructions {
  position: fixed;
  top: 5%;
  bottom: 70%;
  left: 5%;
  right: 30%;
}

/* .image {
  position: absolute;
  top: 10%;
  left: 50%;
  width: auto;
  bottom: 50%;
  right: 0;
} */

.tangram {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  bottom: 50%;
  right: 0;
  transform: translate(-50%, 0);
}

.annotation {
  position: fixed;
  top: 65%;
  left: 60%;
  bottom: 0;
}

.textbox {
  height: 5vh;
  width: 30vh;
  padding-left: 10px;
}

.suggestion {
  font-size: 15px;
}

.output-outer-whole {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  font-size: 20px;
}
.output-outer {
  position: absolute;
  top: 1%;
  left: 2%;
  right: 0;
  bottom: 2%;
  font-size: 20px;
}

.piece-description {
  position: absolute;
  top: 0;
  left: 2%;
  right: 50%;
  bottom: 10%;
}

.output {
  position: absolute;
  top: 15%;
  left: 2%;
  right: 50%;
  bottom: 10%;
  font-size: 20px;
  background-color: lightgray;
  padding-left: 1vh;
}

.submit {
  background-color: #4caf50;
}

.idk {
  background-color: #ffb700;
}

.instructions-bt {
  background-color: #4caf50;
  display: none; /* hide for block 1*/
}

.add {
  background-color: #4c7caf;
}

.preview {
  position: absolute;
  display: none;
  top: 0;
  bottom: 90%;
  left: 50%;
  right: 0;
  transform: translate(-50%, 0);
}

.preview > p {
  color: red;
  font: 20px;
  font-weight: bold;
}
