/* .title {
  position: fixed;
  z-index: 10;
  pointer-events: none;
  color: #2d8bc9;
  left: 55px;
  border: 5px solid;
  padding-bottom: 3px;
  top: -5px;
  padding-right: 20px;
}

.title h1 {
  display: inline;
  padding: 0px;
  padding-left: 20px;
} */

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:disabled {
  background-color: #808080;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: default;
}

.next {
  background-color: #4caf50;
  z-index: 10;
  position: absolute;
  left: 65%;
  top: 80%;
}

.left {
  position: fixed;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  align-items: center;
}

.right {
  position: fixed;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  align-items: center;
}

.instructions {
  position: fixed;
  top: 5%;
  bottom: 70%;
  left: 5%;
  right: 50%;
}

.image {
  position: fixed;
  top: 20%;
  left: 20%;
  right: 50%;
  bottom: 0;
}

.annotation {
  position: fixed;
  top: 65%;
  left: 55%;
  bottom: 0;
}

.textbox {
  height: 5vh;
  width: 30vh;
}

.output-outer {
  position: fixed;
  top: 15%;
  left: 55%;
  /* right: 10%; */
  bottom: 40%;
  font-size: 20px;
}

.output-outer-whole {
  position: fixed;
  top: 50%;
  left: 55%;
  /* right: 10%; */
  bottom: 40%;
  font-size: 20px;
}

.output {
  position: fixed;
  top: 20%;
  left: 55%;
  right: 10%;
  bottom: 40%;
  font-size: 20px;
  background-color: lightgray;
  padding-left: 1vh;
}

.submit {
  background-color: #4caf50;
}

.instructions-bt {
  background-color: #4caf50;
  display: none; /* hide for block 1*/
}

.add {
  background-color: #4c7caf;
}

.duplicate {
  background-color: #f99f04;
  visibility: hidden;
}

/* .sidebar {
  background: #4caf50;
  position: fixed;
  z-index: 999;
} */

span.octicon {
  font-size: 40px;
  color: #fff;
  padding: 5px;
}

/* .sidebar-item {
  text-align: center;
  border-bottom: 5px solid #4caf50;
  cursor: pointer;
}

.sidebar-item:hover {
  background: #358137;
} */
